.button {
  text-align: center;
  background-color: $button-color;
  color: $primary-color;
  font-style: italic;
  padding: 1rem;
  border-radius: 1rem;
  &:hover {
    padding: 1.3rem;
    text-decoration: none;
  }
}
