.footer {
  text-align: center;
  &__copywrite {
    text-align: left;
  }

  &__link {
    color: white;
    line-height: 3rem;

    &:vistied {
      color: white;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
