.homepage {
  &__susmita-img {
    max-width: 10rem;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;

    @media (min-width: 411px) {
      float: right;
      margin: 1rem;
    }
  }

  &__header {
    font-size: 2rem;
    @media (min-width: 1020px) {
      font-size: 2.5rem;
    }
  }

  &__contact {
    margin-right: 5rem;
    display: flex;
  }

  &__image {
    justify-content: center;
    margin-right: 2rem;
    width: 1.3rem;
    height: 1.3rem;
    &:hover {
      transform: scale(1.25);
    }
  }

  &__link {
    color: $primary-color;
    size: 1rem;
  }
}
