.project {
    min-width: 100%;
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;

    &__pen {
      min-height: 25rem;
    }

  &__item {
    min-width: 100%;

    &--title{
      text-decoration: underline;
    }

    &--desc {
      margin-right: 2rem;
      &:last-child {
        margin-bottom: 5rem;
      }
    }
  }
}
