body {
  font-family: $cabin-stack;
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
  color: $primary-color;
  background-color: $primary-color;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    font-size: 1.5rem;
  }
}
