body {
    font-family: $monda-stack;
    text-align: justify;
    margin-bottom: 12rem;
    font-size: 0.9rem;
    min-height: 100%;

    @media (min-width:600px) {
        font-size: 1.2rem;
    }
}
