a:not([class]) {
  text-decoration: none;
  color: $accent-color;

  &:hover {
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}
