a:not([class]){
  text-decoration: none;
  color: $wine;

  &:hover {
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}